{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account.css' %}">
<div class="container my-3">
    <h1 class="mb-3 sign_up">가입하기</h1>
    <form method="post" action="{% url 'account:signup' %}">
        {% csrf_token %}
        {% include "form_erros.html" %}
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="email">이메일</label>
            <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <h5 style="display:inline">이미 계정이 있습니까?</h5><a href="{% url 'account:login' %}">로그인 하러 가기</a><br>
        <button type="submit" class="btn btn-primary">생성하기</button>
    </form>
</div>
{% endblock %}